* {
  margin: 0;
  padding: 0;
  font-family: "Source Code Pro", monospace;
  box-sizing: border-box;
}
body {
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
}

html {
  scroll-behavior: smooth;
}

.header {
  height: 100vh;
  width: 100%;
  background: #1b2735 !important;
  background-position: center;
  background-size: cover;
  position: relative;
}
nav {
  display: flex;
  padding: 2% 5%;
  justify-content: space-between;
  align-items: center;
}
nav img {
  width: 250px;

  z-index: 99999;
}
.nav-links {
  flex: 1;
  text-align: right;
}
.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}
.nav-links ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 15px;
}
.bodka {
  color: blueviolet;
  font-size: 30px;
}

.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: blueviolet;
  display: block;
  margin: auto;

  transition: 0.5s;
}
.nav-links ul li:hover::after {
  width: 100%;
}
.text-box {
  width: 90%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.text-box h1 {
  font-size: 80px;
  text-align: center;
}
.text-box p {
  margin: 10px 0 40px;
  font-size: 19px;
  color: #fff;
}
.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .fa {
  display: none;
}
@media (max-width: 700px) {
  .text-box h1 {
    font-size: 30px;
  }

  .nav-links ul li {
    display: block;
  }
  .nav-links {
    position: fixed;
    background: #3e1b50;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }
  nav .fa {
    display: block;
    color: #fff;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }
  .nav-links ul {
    padding: 30px;
  }
  nav img {
    width: 150px;
  }
}
.cookie-container {
  position: fixed;
  bottom: -100%;
  left: 0;
  right: 0;
  background: #2f3640;
  color: #f5f6fa;
  padding: 0 32px;
  box-shadow: 0 -2px 16px rgba(47, 54, 64, 0.39);

  transition: 400ms;
}

.cookie-container.active {
  bottom: 0;
}

.cookie-container a {
  color: #f5f6fa;
}

.cookie-btn {
  background: #3e1b50;
  border: 0;
  color: #fff;
  padding: 12px 48px;
  font-size: 20px;
  margin-bottom: 16px;
  border-radius: 8px;
  cursor: pointer;
}
